[Desktop Entry]
Version=1.0
Type=Application
Name=Вкл/Выкл Conky
Comment=
Exec=/home/alexander/.myScripts/on-off_conky.sh
Icon=process-stop
Path=
Terminal=false
StartupNotify=false
