[Desktop Entry]
Name=CoolReader3
GenericName=E-book reader
GenericName[ru]=Чтение электронных книг
TryExec=cr3
Exec=cr3 %F
StartupNotify=true
Terminal=false
Type=Application
Icon=cr3.png
Categories=Office;Viewer;Literature;
MimeType=application/epub+zip;application/x-fictionbook+xml;application/x-zip-compressed-fb2;text/html;application/xhtml+xml;text/plain;application/x-psion-compressed-text;application/rtf;application/zip;application/x-chm;
X-XFCE-Source=file:///usr/share/applications/cr3.desktop
