[Desktop Entry]
Version=1.0
Name=Opera developer
GenericName=Web browser
Comment=Fast and secure web browser
TryExec=opera-developer
Exec=opera-developer %U
Terminal=false
Icon=opera-developer
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=opera-developer --new-window
TargetEnvironment=Unity

[Desktop Action NewPrivateWindow]
Name=New Private Window
Exec=opera-developer --private
TargetEnvironment=Unity
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-Commands=opera-developer
X-XFCE-CommandsWithParameter=opera-developer "%s"
opera-developer --new-window
opera-developer --private
