# Directories and files that cannot be commited to git

# Logs
*.log

# Editors
.idea
.vscode

#  Temp / Cache
__pycache__
cache
.cache
.var/app/
.temp
temp
.tmp
tmp

# Databases
*.db
*.db3
*.sqlite
*.sqlite3

