# Это файл конфигурации пользователя Git.
[user]
	name = alkostuchkov
	email = alkostuchkov@gmail.com
[core]
	editor = vim
	excludesFile = /home/alexander/.gitignore
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	logda = log --oneline --graph --decorate --all
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
