" source ~/.vimrc

" Return from insert mode to normal
inoremap jj <ESC>

" Copy/Cut/Past from/to system buffer
vnoremap <C-x> "+d
vnoremap <C-c> "*y :let @+=@*<CR>
map <C-p> "+p

" easier moving of code blocks (doesn't lose selection)
vnoremap "<" "<gv"
vnoremap ">" ">gv"
