[Desktop Entry]
Version=1.0
Type=Application
Name=Qt Assistant 5.8.0
Comment=Qt Assistant 5.8.0
Exec=/home/alexander/Qt5.8.0/5.8/gcc_64/bin/assistant
Icon=assistant-qt4
Path=
Terminal=false
StartupNotify=false
