[Desktop Entry]
Version=1.0
Type=Application
Name=Qt Creator 5.5.1
Comment=Qt Creator 5.5.1
Exec=/home/alexander/Qt5.5.1/Tools/QtCreator/bin/qtcreator -stylesheet=/home/alexander/.config/QtProject/+Themes/Qt-Creator-Darcula-master/darcula.css
Icon=qtcreator
Path=
Terminal=false
StartupNotify=false
