[Desktop Entry]
Version=1.0
Type=Application
Name=eclipse
Comment=eclipse
Exec=/home/alexander/Programs/eclipse/eclipse
Icon=/home/alexander/Programs/eclipse/icon.xpm
Path=
Terminal=false
StartupNotify=false
