[Desktop Entry]
Version=1.0
Type=Application
Name=Run Kivy-examples
Comment=Run Kivy-examples
Exec=/home/alexander/.myScripts/run_kivy-examples.sh
Icon=/home/alexander/.myScripts/kivy-logo-black-256.png
Path=
Terminal=false
StartupNotify=false
