[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram Desktop
Comment=Official desktop application for the Telegram messaging service
Exec=/home/alexander/Programs/Telegram/Telegram -startintray -- %u
Icon=telegram
Path=
Terminal=false
StartupNotify=false
