[Desktop Entry]
Actions=folderappopen
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action folderappopen]
Exec=vlc
Icon=vlc
Name=Open directory in VLC
Name[ru]=Открыть каталог в VLC
 
