[Desktop Entry]
Actions=folderappopen
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action folderappopen]
Exec=deadbeef
Icon=deadbeef
Name[ru]=Открыть каталог в DeaDBeeF
Name=Open directory in DeaDBeeF
 
