[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Type=Service
MimeType=text/*
Actions=EditAsRoot
 
[Desktop Action EditAsRoot]
Name=Edit as root
Name[ru]=Редактировать под root
Icon=sublime-text
Exec=pkexec subl -w %U 
