[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Type=Service
MimeType=text/*
Actions=EditIn
 
[Desktop Action EditIn]
Name=Edit in Sublime Text
Name[ru]=Редактировать в Sublime Text
Icon=sublime-text
Exec=subl -w %U 
