[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Type=Service
MimeType=text/*
Actions=EditIn
 
[Desktop Action EditIn]
Name=Edit in Geany
Name[ru]=Редактировать в Geany
Icon=geany
Exec=geany %U 
