notebook tab {
  min-height: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

notebook tab button {
  min-height: 0;
  min-width: 0;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

notebook button {
  min-height: 0;
  min-width: 0;
  padding: 2px;
}
