loc_name=Гомель, Гомельская область
lat=52.423894
lon=31.013170
msl=141
timezone=Europe/Minsk
offset=+03:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=3
units_windspeed=2
units_precipitation=0
units_altitude=0
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/simplistic
show_scrollbox=false
scrollbox_lines=1
scrollbox_font=Monaco 10
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=7
label2=5

