[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DBeaver-ce
GenericName=Universal Database Manager
Comment=Universal Database Manager and SQL Client.
# Path=/usr/share/dbeaver-ce/
# Exec=/usr/share/dbeaver-ce/dbeaver
# Icon=/usr/share/dbeaver-ce/dbeaver.png
Path=/home/alexander/Programs/DBeaver-ce/
Exec=/home/alexander/Programs/DBeaver-ce/dbeaver -nl ru
Icon=/home/alexander/Programs/DBeaver-ce/dbeaver.png
Categories=IDE;Development
StartupWMClass=DBeaver
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
MimeType=application/sql
