[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DbSchema
GenericName=Universal Database Manager
Comment=Universal Database Manager and SQL Client.
Path=/home/alexander/Programs/DbSchema/
Exec=/home/alexander/Programs/DbSchema/DbSchema
Icon=/home/alexander/Programs/DBeaver-ce/dbeaver.png
Categories=IDE;Development
StartupWMClass=DbSchema
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
MimeType=application/sql
