[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
GenericName=Firefox
# Icon=firefox
Icon=/home/alexander/Programs/Firefox/browser/chrome/icons/default/default128.png
Exec=/usr/bin/firefox
NoDisplay=false
Categories=Network;
Keywords=Firefox
StartupNotify=false
Terminal=false
