[Desktop Entry]
Name[cs]=Barvičky
Name[da]=Farvevælger
Name[de]=Farbwähler
Name[es]=Selector de color
Name[eu]=Kolore-hautatzailea
Name[fi]=Värivalitsin
Name[fur]=Seletôr colôr
Name[hu]=Színválasztó
Name[id]=Pemilih Warna
Name[nl]=Kleurenkiezer
Name[pl]=Wybór kolorów
Name[pt_BR]=Seletor de cor
Name[ro]=Selector de culori
Name[sv]=Färgväljare
Name[tr]=Renk Seçici
Name[uk]=Піпетка
Name=Color Picker
Comment[cs]=Namíchejte si barvu nebo ji sejměte z obrazovky
Comment[da]=Vælg farver fra vælgeren eller skærmen
Comment[de]=Wählen Sie Farben vom Farbrad oder dem Bildschirm
Comment[en_GB]=Choose colours from the picker or the screen
Comment[es]=Elija colores desde un selector o desde la pantalla
Comment[eu]=Aukeratu koloreak hautatzailetik edo pantailatik
Comment[fi]=Valitse värejä valitsimesta tai näytöltä
Comment[fr]=Choisissez les couleurs depuis le sélecteur ou l’écran
Comment[fur]=Sielç i colôrs dal seletôr o dal schermi
Comment[gl]=Escolla cores desde o selector ou desde a pantalla
Comment[hu]=Válasszon színeket a színválasztóból vagy a képernyőről
Comment[id]=Pilih warna dari pemilih atau layar
Comment[it]=Scelta colori tramite il selettore a schermo
Comment[nb]=Velg farger enten fra velgeren eller fra skjermen
Comment[nl]=Kies kleuren van de kiezer of van het scherm
Comment[pl]=Wybieranie kolorów z ekranu
Comment[pt_BR]=Escolha cores a partir do seletor ou da tela
Comment[ro]=Alegeți culori din selector sau de pe ecran
Comment[ru]=Определите цвет на экране с помощью пипетки
Comment[sr]=Изаберите боју из бирача или са екрана
Comment[sv]=Välj färger från väljaren eller skärmen
Comment[tr]=Seçiciden veya ekrandan renk seç
Comment[uk]=Виберіть колір з набору або з екрана
Comment=Choose colors from the picker or the screen
Exec=gcolor2
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=gcolor2
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
# Translators: Extra keywords that can be used to search for gcolor2 in GNOME Shell and Unity
Keywords[cs]=barva;míchání;pipeta;paleta;
Keywords[da]=Farve;Vælger;Pipette;Palet;
Keywords[de]=Farbe;Farbauswahl;Farbpalette;
Keywords[el]=Χρώμα;Επιλογέας;Παλέτα;
Keywords[en_GB]=Colour;Picker;Palette
Keywords[es]=Color;Selector;Paleta;
Keywords[eu]=Kolorea;hautatzailea;Paleta;
Keywords[fi]=Color;Picker;Palette;väri;valitsin;paletti;
Keywords[fr]=Couleur;Sélecteur;Palette
Keywords[fur]=Colôr;Seletôr;Palete;
Keywords[gl]=Cor;Selector;Paleta;
Keywords[hu]=Szín;Színválasztó;Paletta;
Keywords[id]=Warna;Pemilih; Palet;
Keywords[it]=Colore;Selettore;Picker;Palette;Tavolozza;
Keywords[nb]=Farge;Velger;Palett
Keywords[nl]=Color;Picker;Palette;Kleur;Kiezer;Palet;
Keywords[pl]=Kolory;Wybór;Paleta;
Keywords[pt_BR]=Cor; Seletor;Palette;
Keywords[ro]=Color;Picker;Palette;culori;selector;paletă;
Keywords[ru]=Color;Picker;Palette;Цвет;
Keywords[sr]=Боја;Бирач;Палета;Color;Picker;Pallete;Boja:Birač;Paleta
Keywords[sv]=Färg;Väljare;Palett;
Keywords[tr]=Renk;Seçici;Palet;
Keywords[uk]=Color;Picker;Palette;колір;піпетка;палітра;
Keywords=Color;Picker;Palette;

# Required for Unity to show the application name.
X-Ubuntu-Gettext-Domain=gcolor2
