[Desktop Entry]
Version=1.0
Type=Application
Name=Genymotion (discrete graphics)
GenericName=Genymotion (discrete graphics)
Icon=/home/alexander/Programs/genymotion/icons/icon.png
Exec=/home/alexander/.myScripts/runGenymotionDiscreteGr.sh
NoDisplay=false
Categories=Discrete Graphics Launchers;
Keywords=DRI_PRIME=1
StartupNotify=false
Terminal=false
