[Desktop Entry]
Version=1.0
Type=Application
Name=Mount - Unmount Google Drive 2017aaa
GenericName=Mount - Unmount Google Drive 2017aaa
Icon=/home/alexander/Pictures/Logo/Google/google-drive-512.png
Exec=/home/alexander/.myScripts/mountUnmountGoogleDrive_2017aaa.sh
NoDisplay=false
Categories=Discrete Graphics Launchers;
StartupNotify=false
Terminal=false
