[Desktop Entry]
Version=1.0
Type=Application
Name=LibreWolf
GenericName=LibreWolf (discrete graphics)
# Icon=firefox
Icon=/home/alexander/Pictures/Logo/LibreWolf-logo.png
Exec=/home/alexander/.myScripts/runLibreWolfDiscreteGr.sh
NoDisplay=false
Categories=Network;
Keywords=DRI_PRIME=1
StartupNotify=false
Terminal=false
