[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Tixati
GenericName=BitTorrent Client
Comment=Share files over BitTorrent
Exec=tixati %U
Icon=tixati
Terminal=false
Type=Application
MimeType=application/x-bittorrent;application/x-magnet;x-scheme-handler/magnet;x-scheme-handler/dsc;
Categories=Internet;Network;FileTransfer;P2P;GTK;
X-Desktop-File-Install-Version=0.15

