[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alexander/Desktop/fromSid_configs]
row=1
col=1

[/home/alexander/Desktop/SQLite_doclist]
row=1
col=0

[/home/alexander/Desktop/fish_test.sh]
row=4
col=1

[/home/alexander/Desktop/ToRead]
row=3
col=0

[/home/alexander/Desktop/forSid]
row=0
col=1

[/home/alexander/Desktop/ToWatch]
row=2
col=0

[/home/alexander/Desktop/Yiruma_music]
row=5
col=0

[/home/alexander/Desktop/AllCodeCharts_Unicode.pdf]
row=3
col=1

[/home/alexander/Desktop/WiFi_Debian_drivers]
row=5
col=1

[/home/alexander/Desktop/ISOs]
row=4
col=0

[/home/alexander/Desktop/TRASH_CAN]
row=0
col=0

[cdrom0]
row=8
col=0

[tmp]
row=2
col=1

[526fa1f1-878e-4065-bd1b-b57b347183f6]
row=6
col=0

[0f497e7c-5e86-49b7-91ac-8b0472bc14ee]
row=7
col=0

