[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alexander/Desktop/fromSid_configs]
row=1
col=1

[/home/alexander/Desktop/SQLite_doclist]
row=1
col=0

[/home/alexander/Desktop/test.sh]
row=8
col=0

[/home/alexander/Desktop/ToRead]
row=3
col=0

[/home/alexander/Desktop/forSid]
row=0
col=1

[/home/alexander/Desktop/Yiruma_music]
row=5
col=0

[/home/alexander/Desktop/ToWatch]
row=2
col=0

[/home/alexander/Desktop/TRASH_CAN]
row=0
col=0

[/home/alexander/Desktop/ISOs]
row=4
col=0

[26A45DFBA45DCDC5]
row=6
col=0

[18C02C3110D69495]
row=7
col=0

